<!doctype html>
<html>
  <head>
    <title>Learn Code with Codify!</title>
  </head>
  <body>
    <header>
      <img src="/img/codify-logo.png" alt="Codify Logo">
    </header>
    {{{body}}}
  </body>
</html>